body {
    background-color: #FFFFFF;
    color: #212121;
    font-family: Roboto, sans-serif;
}

.link:hover, 
.link:focus {
    color: #2196F3;
}

.contact:hover, 
.contact:focus {
    color: #2196F3;
}

.basement-link:hover, 
.basement-link:focus {
    color: #2196F3;
}

.button-link:hover,
.button-link:focus{
    color: #FFFFFF;
    background-color: #2196F3;
}

.button-link {
    cursor: pointer;
    font-family: inherit;
    font-weight: 500;
    background-color: #F5F4FA;
}

/* .button-hat:hover,
.button-hat:focus{
    color: #2196F3;
} */

.button-hat {
    cursor: pointer;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    color: #FFFFFF;
    background-color: #2196F3;
}

.hat-title {
    color:#FFFFFF;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
}

.specialty-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1428571429;
}


.specialty-paragraph {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7142857143;
    color: #757575;
}

.activity {
    font-size: 36px;
    line-height: 1.16;
}

.link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1428571429;
    color: #212121;
}

.contact {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1428571429;
    color: #757575;
}

.basement-adress {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7142857143;
    color: #FFFFFF;
}

.basement-contact {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7142857143;
    color: rgba(255, 255, 255, 0.6);
}

.team {
    font-size: 36px;
    line-height: 1.16;
}

.team-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.1875;
}

.team-paragraph {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.1875;
    color: #757575;
}

.project-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
}


.project-paragraph {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.875;
    color: #757575;
}

.logo {
    font-weight: 700;
    font-size: 26px;
}







/* .hat {
    background-color: #2F303A;
}

.team {
    background-color: #F5F4FA;
} 

.basement {
    background-color: #2F303A;
}
 */


